html {
  padding: o;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-color: #2f303a;
  --backround-color-2: #e5e5e5;
  --backround-color-3: #f5f4fa;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: #757575;
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  text-decoration: none;
}

.logo-header {
  margin-right: 93px;
}

.logo-header__color {
  color: #212121;
}

.button {
  min-width: 200px;
  height: 50px;
  margin-bottom: 200px;
  padding: 10px 32px;
  border: solid #2196f3;
  border-radius: 4px;
  color: #ffffff;
  background: #2196f3;
}

.auth-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 32px;
  margin-bottom: 32px;
}

.auth-nav-item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 500px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.auth-nav__contacts:hover .email-icon,
.auth-nav__contacts:hover .phone-icone {
  fill: #2196f3;
}

.auth-nav__contacts:hover {
  color: #2196f3;
}

.email-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}

.phone-icone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button__close {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

.modal-button__icone {
  width: 11px;
  height: 11px;
}

.modal-form {
  width: 448px;
  margin-right: auto;
  margin-left: auto;
}

.modal-title {
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 12px;
  font-weight: 700px;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
}

.modal-form__label {
  display: block;
  position: relative;
}

.modal-form__label {
  margin-bottom: 10px;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
}

.form-field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 42px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus {
  outline: transparent;
  border: 1px solid #2196f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form-field:focus + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__title {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form__comment {
  display: block;
  resize: none;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__comment:focus {
  outline: transparent;
  border: 1px solid #2196f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.modal-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-checkbox__icon {
  display: inline-block;
  margin-right: 7px;
  padding-left: 12px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox:checked + .modal-checkbox__icon {
  border-radius: 2px;
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-origin: border-box;
}

.modal-checkbox__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.modal-checkbox__link {
  line-height: 1.71;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.checkbox-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 32px;
  border: solid #2196f3;
  border-radius: 4px;
  color: #ffffff;
  background: #2196f3;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.modal-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  font-weight: 500px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.site-nav__link:hover, .site-nav__link:focus {
  font-weight: 500px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.site-nav__item .current {
  position: relative;
  color: #2196f3;
}

.current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -32px;
  opacity: 1;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.page-header {
  border: 1px solid #ececec;
  background-color: #ffffff;
}

.page-header .flexbox {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-repeat: no-repeat;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(0, 0, 0, 0.4)), color-stop(50%, rgba(0, 0, 0, 0.4))), url(../images/header.jpg);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.4) 50%), url(../images/header.jpg);
}

.hero-title {
  padding-top: 200px;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 94px;
  background-color: #e5e5e5;
}

.advantages-list {
  width: calc((100% - 30px * 3) / 4);
  padding-bottom: 94px;
}

.advantages-list:not(:last-child) {
  margin-right: 30px;
}

.advantages__title {
  margin-bottom: 10px;
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.advantages__text {
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.7;
}

.advantages-item::before {
  content: "";
  display: inline-block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.group::before {
  background-image: url(../images/group.svg);
}

.clock::before {
  background-image: url(../images/clock.svg);
}

.diagram::before {
  background-image: url(../images/diagram.svg);
}

.astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.work {
  background-color: #e5e5e5;
}

.work-title {
  margin-bottom: 50px;
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
}

.work-items {
  position: relative;
}

.work__box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__title {
  padding-top: 27px;
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.work-list {
  width: calc((100% - 30px * 2) / 3);
  margin-bottom: 94px;
}

.work-list:not(:last-child) {
  margin-right: 30px;
}

.team {
  background-color: #f5f4fa;
}

.team-title {
  margin-top: 30px;
  margin-bottom: 50px;
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
}

.team-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-item {
  width: calc((100% - 30px * 3) / 4);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
}

.team-job {
  margin-bottom: 30px;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team-social__link:hover .team-social__icon {
  fill: #ffffff;
}

.team-social__link:hover {
  background-color: #2196f3;
}

.team-social__icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

.team-social__icon__item {
  margin-bottom: 30px;
}

.team-social__icon__item:not(:last-child) {
  margin-right: 10px;
}

.clients {
  padding-bottom: 94px;
}

.clients-title {
  padding-top: 94px;
  margin-bottom: 50px;
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-items {
  width: calc((100% - 30px * 5) / 6);
  height: 90px;
}

.clients-items:not(:last-child) {
  margin-right: 30px;
}

.clients-items__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

.clients-items__link:hover .clients-items__icons {
  fill: #2196f3;
}

.clients-items__link:hover {
  border-color: #2196f3;
}

.clients-items__icons {
  width: 88px;
  height: 46px;
  fill: #afb1b8;
}

.footer {
  background-color: #2f303a;
}

.footer-container {
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  text-decoration: none;
}

.footer-logo__color {
  color: #fff;
}

.footer-addresses {
  margin-top: 20px;
  margin-bottom: 9px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
}

.footer-item__link {
  margin-bottom: 9px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}

.footer-item__mail {
  margin-bottom: 9px;
}

.social {
  margin-left: 70px;
  padding-top: 72px;
}

.social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: white;
  text-transform: uppercase;
}

.social-item__list {
  margin-bottom: 30px;
}

.social-item__list:not(:last-child) {
  margin-right: 10px;
}

.social-item__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.social-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-item__link:hover {
  background-color: #2196f3;
}

.submit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.submit-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  color: #757575;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
}

.button-text {
  margin-right: 10px;
  font-weight: 700px;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
}

.button-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-send {
  width: 24px;
  height: 24px;
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-list .button__item:not(:last-child) {
  margin-right: 8px;
}

.button__additional {
  margin-top: 94px;
  margin-bottom: 50px;
  padding: 6px 22px;
  border: solid #f5f4fa;
  border-radius: 4px;
  background-color: #f5f4fa;
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #212121;
}

.button__additional:hover, .button__additional:focus {
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border: solid #2196f3;
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-list {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
}

.features-list:nth-child(3n) {
  margin-right: 0;
}

.features-list:nth-last-child(-n + 3) {
  margin-bottom: 94px;
}

.features-list:hover, .features-list:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.features-list:hover .features__box {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.features-tittle {
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
  font-weight: 700px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.features-category {
  margin-bottom: 20px;
  margin-left: 24px;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.8;
  color: #757575;
}

.features__images {
  position: relative;
  overflow: hidden;
}

.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features__text {
  padding: 24px;
  font-weight: normal;
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
}
/*# sourceMappingURL=styles.css.map */