.button {
  min-width: 200px;
  height: 50px;
  margin-bottom: 200px;
  padding: 10px 32px;
  border: solid $accent-color;
  border-radius: 4px;
  color: $primary-color;
  background: $accent-color;
}
