.auth-nav {
  display: inline-flex;
  margin-top: 32px;
  margin-bottom: 32px;
}

.auth-nav-item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav__contacts {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: 500px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-color;

  &:hover .email-icon,
  &:hover .phone-icone {
    fill: $accent-color;
  }

  &:hover {
    color: $accent-color;
  }
}
