.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.site-nav {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  font-weight: 500px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-text-color;
  text-decoration: none;
}

.site-nav__link:hover,
.site-nav__link:focus {
  font-weight: 500px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $accent-color;
}

.site-nav__item .current {
  position: relative;
  color: $accent-color;
}

.current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -32px;
  opacity: 1;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;
}
